@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    /*iphone 6*/
}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    /*iphone 6 plus*/
}
body{
    
}
.cmdStateBtn{
	width: 60px;
	height: 60px;
}
.main{
    width:100%;
    height:100%;
    
}

.page1{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    
}

.devstatus{
	width: 100%;
	height:40px;
	background-color: #7DB72F;
	line-height: 40px;
	position: relative;
}


.devstatus .onlineImg{
	height: 12px;
	width: 15px;  
}
.devstatus  .onlineText{
	font-size: 15px;
	color: #FFFFFF;
}

.main{
    width: 100%;
	height:99%;
	background-color: #0095CD;
	text-align: center;
	
}
.topshow{
	background-color: #55FF00;
	width: 100%;
	height: 40%;
}
.topshow img{
	width: 60px;
	height: 60px;
	margin-top: 5px;
}

.centershow{
	background-color: #DA7C0C;
	width: 100%;
	height: 30%;
}
.centershow .cmdStateBtn{
	margin-top: 50px;
}

.bottomshow{
	background-color:#FF0099;
	width: 100%;
	height: 15%;
}






.page2{
    width:100%;
    height:100%;
    background-color: #F06015;
    position:absolute;
    left:0;
    top:0;
}
.configHeader{
	width: 100%;
	height: 40px;
	background-color: #0095CC;
	line-height: 40px;
}
.configHeader label{
	color: #FFFFFF;
	font-size: 15px;
	margin-left: 5px;
}

.configBody{
	width: 100%;
	height: 99%;
	background-color: #538018;
}
.configRow{
	width: 100%;
	height: 50px;
/*	background-color: #DA7C0C;*/
	text-align: center;
	line-height: 50px;
}

.configRow label{
	width: 20%;
	height: 50px;
	display: inline-block;
}
.configRow input{
	width: 50%;
	height: 30px;
}





.rounds{
    width:100%;
    height:4%;
    position:absolute;
    left:0;
    bottom:0;
    text-align:center;
}
.round{
    width:10px;
    height:10px;
    display: inline-block;
    font-size:20px;
    text-align:center;
    color:#55ff00;
    text-decoration:none;
}
.round:hover{
/*    color:blue;*/
  text-decoration:none;

}
#r1{
    color:#55ff00;
}
#r2{
    color:#009911;
}