@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    /*iphone 6*/
}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    /*iphone 6 plus*/
}
body{
    background-color:#ff0099;
}

.main{
    width:320px;
    height:100%;
    
}

.page1{
    width:1200px;
    height:100%;
    background-color:#ff00aa;
}
.page2{
    width:200%;
    height:100%;
    background-color:#fd100a;
}

#deviceInfo{
    width:320px;
    height:200px;
}