@media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    /*iphone 6*/
}
@media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){
    /*iphone 6 plus*/
}
body{
    background-color:#ff0099;
}
.main{
    width:320px;
    height:480px;
    background-color:#dd000aa;
}
#deviceInfo{
    width:320px;
    height:200px;
}